{% extends "components/_layout.twig" %}

{% set title = "Tijdlijn" %}

{% set days = [
    {
        date: "20 april 2018",
        dateName: "Vrijdag",
        hidden: true,
        courses: [{
            title: "Web design",
            assignment: "Principles of User Interfase Design",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 20 april"
            }]
        }, {
            title: "Real-time web",
            assignment: "Hello world",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 20 april"
            }]
        }]
    }, {
        date: "23 april 2018",
        dateName: "Maandag",
        hidden: true,
        courses: [{
            title: "Web design",
            assignment: "Principles of User Interfase Design",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }, {
            title: "Real-time web",
            assignment: "Hello world",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
    }]
    },{
        date: "24 april 2018",
        dateName: "Dinsdag",
        hidden: true,
        courses: [{
            title: "Web design",
            assignment: "Principles of User Interfase Design",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }, {
            title: "Real-time web",
            assignment: "Hello world",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }]
    }, {
        date: "25 april 2018",
        dateName: "Vandaag",
        hidden: false,
        courses: [{
            title: "Real-time web",
            assignment: "Principles of User Interfase Design",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }, {
            title: "Web design",
            assignment: "Hello world",
            time: "14:15 - 16:00",
            active: true,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }]
    }, {
        date: "26 april 2018",
        dateName: "Morgen",
        hidden: false,
        courses: [{
            title: "Web design",
            assignment: "Principles of User Interfase Design",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }, {
            title: "Real-time web",
            assignment: "Hello world",
            time: "14:15 - 16:00",
            active: false,
            location: "KSH01",
            links: [{
                title: "Weekopdracht",
                url: "#",
                deadline: "Vrijdag 27 april"
            }]
        }]
    }
] %}

{% block content %}

    <section>
        <header>
            <h1>Meldingen</h1>
            <a href="#">Notificaties inschakelen</a>
        </header>

        <article class="message">
            <img src="assets/img/slack.svg">
            <main>
                <h5>Joost</h5>
                <p><a href="#">#meldingen</a> Je kan je vanaf nu inschrijven voor de beoordeling van opdracht 2. Het staat op Moodle.</p>
            </main>
        </article>
    </section>

    <section class="section-timeline">
        <h1>Tijdlijn</h1>

        <div class="timeline">
            <article class="timeline-item timeline-previous">
                <div class="timeline-shape">
                    <button class="btn-round">
                        <img src="assets/img/chevron-up.svg">
                    </button>
                </div>
                <div class="timeline-item-content">
                    Dag eerder laden<br>
                    <small>Dinsdag 24 april</small>
                </div>
            </article>

            {% for day in days %}
                <article class="timeline-item{% if day.hidden %} hidden{% endif %}">
                    <div class="timeline-shape">
                        <div class="timeline-dot"></div>
                    </div>
                    <div class="timeline-item-content">
                        <h3>{{ day.dateName }} <time>({{ day.date }})</time></h3>

                        {% for course in day.courses  %}
                        <div class="card{% if course.active %} active{% endif %}">
                            <header>
                                <div class="titles">
                                    <h2>{{ course.title }}</h2>
                                    <h4>{{ course.assignment }}</h4>
                                </div>
                                <ul class="meta">
                                    <li class="time">{{ course.time }}</li>
                                    <li class="location">{{ course.location }}</li>
                                </ul>
                            </header>

                            <ul class="meta">
                                {% for link in course.links %}
                                    <li class="link"><a href="#">{{ link.title }} {% if link.deadline %}<span class="deadline">{{ link.deadline }}</span>{% endif %}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}